<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML.dao.AmlStatusMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yimnlu.AML.entity.AmlStatus">
        <result column="ID" property="id" />
        <result column="FUNC_NAME" property="funcName" />
        <result column="STATUS" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FUNC_NAME, STATUS
    </sql>

    <update id="InitStatus">
        UPDATE AML_STATUS SET STATUS = 0
    </update>

    <select id="ReachStatus" resultMap="BaseResultMap">
        select *
        from AML_STATUS
        WHERE 1=1
        AND FUNC_NAME = #{FUNC_NAME}
    </select>

    <select id="ReachAllStatus" resultMap="BaseResultMap">
        select *
        from AML_STATUS
        WHERE 1=1 AND STATUS = 1
    </select>

    <update id="UpdateFuncStatus">
        Update AML_STATUS
        SET STATUS = #{STATUS}
        WHERE FUNC_NAME = #{FUNC_NAME}
    </update>
</mapper>
