<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML.dao.GraphComputingMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <resultMap id="BaseDetail" type="com.yimnlu.AML.dto.ACCTBaseDetail">
        <result column="ACCT_ID" property="ACCT_ID"/>
        <result column="CTPY_ACCT_ID" property="CTPY_ACCT_ID"/>
    </resultMap>
    <!-- 通用查询映射结果 -->
    <select id="d1" resultMap="BaseDetail">
        select DISTINCT AML_DATASOURCE.ACCT_ID, AML_DATASOURCE.CTPY_ACCT_ID
        from aml_datasource
                 inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
    </select>
    <select id="d2" resultMap="BaseDetail">
        select DISTINCT AML_DATASOURCE.ACCT_ID, AML_DATASOURCE.CTPY_ACCT_ID
        from aml_datasource
    </select>
    <select id="QueryByAcctID" resultMap="DTA">
        select *
        from AML_DATASOURCE
                 inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
        where AML_DATASOURCE.ACCT_ID = #{ID}
           or AML_DATASOURCE.CTPY_ACCT_ID = #{ID}
    </select>
    <resultMap id="DTA" type="com.yimnlu.AML.entity.AmlDTA">
        <result column="WORK_DATE" property="workDate"/>
        <result column="REF_NO" property="refNo"/>
        <result column="ORIG_REF_NO" property="origRefNo"/>
        <result column="DEPART_ID" property="departId"/>
        <result column="SEQ_NO" property="seqNo"/>
        <result column="DEPART_NAME" property="departName"/>
        <result column="DEPART_TYPE" property="departType"/>
        <result column="DEPART_AREACODE" property="departAreacode"/>
        <result column="CLIENT_ID" property="clientId"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="RULE_TYPE" property="ruleType"/>
        <result column="UNIT_NAME" property="unitName"/>
        <result column="UNIT_CODE" property="unitCode"/>
        <result column="RELATION_TYPE" property="relationType"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <result column="SHADINESS_LEVEL" property="shadinessLevel"/>
        <result column="SHADINESS_DESC" property="shadinessDesc"/>
        <result column="ACTION_MEASURE" property="actionMeasure"/>
        <result column="ORIG_BATCH_NO" property="origBatchNo"/>
        <result column="ORIG_WORK_DATE" property="origWorkDate"/>
        <result column="ORIG_CLIENT_ID" property="origClientId"/>
        <result column="ORIG_TRADE_DATE" property="origTradeDate"/>
        <result column="ORIG_RULE_CODE" property="origRuleCode"/>
        <result column="PCODE" property="pcode"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="CLIENT_TYPE" property="clientType"/>
        <result column="CLIENT_IC_TYPE" property="clientIcType"/>
        <result column="CLIENT_IC_TYPE_MEMO" property="clientIcTypeMemo"/>
        <result column="CLIENT_IC_NO" property="clientIcNo"/>
        <result column="CLIENT_NATIONALITY" property="clientNationality"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="OTHER_CONTACT" property="otherContact"/>
        <result column="INDUSTRY_TYPE" property="industryType"/>
        <result column="REGISTERED_CAPITAL" property="registeredCapital"/>
        <result column="REP_NAME" property="repName"/>
        <result column="REP_IC_TYPE" property="repIcType"/>
        <result column="REP_IC_TYPE_MEMO" property="repIcTypeMemo"/>
        <result column="REP_IC_NO" property="repIcNo"/>
        <result column="AGENT_NAME" property="agentName"/>
        <result column="AGENT_IC_NO" property="agentIcNo"/>
        <result column="AGENT_IC_TYPE" property="agentIcType"/>
        <result column="AGENT_IC_TYPE_MEMO" property="agentIcTypeMemo"/>
        <result column="AGENT_NATIONALITY" property="agentNationality"/>
        <result column="ACCT_ID" property="acctId"/>
        <result column="ACCT_TYPE" property="acctType"/>
        <result column="ACCT_OPEN_TIME" property="acctOpenTime"/>
        <result column="ACCT_CLOSE_TIME" property="acctCloseTime"/>
        <result column="PBOC_NUM_ACCT" property="pbocNumAcct"/>
        <result column="TRADE_DATE" property="tradeDate"/>
        <result column="TRADE_TIME" property="tradeTime"/>
        <result column="VALUE_DATE" property="valueDate"/>
        <result column="TRADE_VENUE_COUNTRY" property="tradeVenueCountry"/>
        <result column="TRADE_VENUE_REGION" property="tradeVenueRegion"/>
        <result column="TRADE_MODE" property="tradeMode"/>
        <result column="DEBIT_CREDIT" property="debitCredit"/>
        <result column="TRADE_COUNTRY" property="tradeCountry"/>
        <result column="TRADE_REGION" property="tradeRegion"/>
        <result column="TRADE_CODE" property="tradeCode"/>
        <result column="FUND_USAGE" property="fundUsage"/>
        <result column="CURRENCY" property="currency"/>
        <result column="AMT" property="amt"/>
        <result column="DOLLAR_AMT" property="dollarAmt"/>
        <result column="CTPY_FI_CODE" property="ctpyFiCode"/>
        <result column="CTPY_FI_PCODE" property="ctpyFiPcode"/>
        <result column="CTPY_FI_NAME" property="ctpyFiName"/>
        <result column="CTPY_FI_TYPE" property="ctpyFiType"/>
        <result column="CTPY_FI_COUNTRY" property="ctpyFiCountry"/>
        <result column="CTPY_FI_REGION_CODE" property="ctpyFiRegionCode"/>
        <result column="CTPY_NAME" property="ctpyName"/>
        <result column="CTPY_TYPE" property="ctpyType"/>
        <result column="CTPY_NATIONALITY" property="ctpyNationality"/>
        <result column="CTPY_IC_CODE" property="ctpyIcCode"/>
        <result column="CTPY_IC_TYPE" property="ctpyIcType"/>
        <result column="CTPY_IC_TYPE_MEMO" property="ctpyIcTypeMemo"/>
        <result column="CTPY_ACCT_ID" property="ctpyAcctId"/>
        <result column="CTPY_ACCT_TYPE" property="ctpyAcctType"/>
        <result column="TRADE_TYPE" property="tradeType"/>
        <result column="REPAYMENT_DATE" property="repaymentDate"/>
        <result column="LOAN_REPAYMENT_TYPE" property="loanRepaymentType"/>
        <result column="PRECEDING_TRADE_REFERENCE" property="precedingTradeReference"/>
        <result column="SUCCESSDING_TRADE_REFERENCE" property="successdingTradeReference"/>
        <result column="CNY_AMT" property="cnyAmt"/>
        <result column="CARD_TYPE" property="cardType"/>
        <result column="CARD_TYPE_MEMO" property="cardTypeMemo"/>
        <result column="CARD_NO" property="cardNo"/>
        <result column="REPAY_NO_TYPE" property="repayNoType"/>
        <result column="REPAY_NO" property="repayNo"/>
        <result column="NO_COUNTER_TYPE" property="noCounterType"/>
        <result column="NO_COUNTER_NO" property="noCounterNo"/>
        <result column="BANK_PAYINS_CODE" property="bankPayinsCode"/>
    </resultMap>
</mapper>
