<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML.dao.presentationMapper">
    <resultMap id="aml" type="com.yimnlu.AML.entity.AML_ANALYSISRESULT">
        <result column="WORK_DATE" property="workDate"/>
        <result column="BATCH_NO" property="batchNo"/>
        <result column="REF_NO" property="refNo"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="DEPART_ID" property="departId"/>
        <result column="RULE_TYPE" property="ruleType"/>
        <result column="UNIT_NAME" property="unitName"/>
        <result column="UNIT_CODE" property="unitCode"/>
        <result column="RELATION_TYPE" property="relationType"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <result column="SHADINESS_LEVEL" property="shadinessLevel"/>
        <result column="SHADINESS_DESC" property="shadinessDesc"/>
        <result column="ACTION_MEASURE" property="actionMeasure"/>
        <result column="ORIG_BATCH_NO" property="origBatchNo"/>
        <result column="ORIG_WORK_DATE" property="origWorkDate"/>
        <result column="ORIG_CLIENT_ID" property="origClientId"/>
        <result column="ORIG_REF_NO" property="origRefNo"/>
        <result column="ORIG_TRADE_DATE" property="origTradeDate"/>
        <result column="ORIG_RULE_CODE" property="origRuleCode"/>
        <result column="REPORT_TYPE" property="reportType"/>
        <result column="IF_RPT" property="ifRpt"/>
        <result column="RPT_STATUS" property="rptStatus"/>
        <result column="FINAL_RPT_STATUS" property="finalRptStatus"/>
        <result column="RET_MSE" property="retMse"/>
        <result column="REPORTER" property="reporter"/>
        <result column="RPT_FILE" property="rptFile"/>
        <result column="RPT_ZIP" property="rptZip"/>
        <result column="TOTAL_COUNT1" property="totalCount1"/>
        <result column="TOTAL_COUNT2" property="totalCount2"/>
        <result column="SERIAL_NUM_1" property="serialNum1"/>
        <result column="SERIAL_NUM_2" property="serialNum2"/>
        <result column="SERIAL_NUM_3" property="serialNum3"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="DEL_INFO" property="delInfo"/>
        <result column="MAKE_STATUS" property="makeStatus"/>
        <result column="MAKER" property="maker"/>
        <result column="MAKE_TIME" property="makeTime"/>
        <result column="CHECK_STATUS" property="checkStatus"/>
        <result column="CHECKER" property="checker"/>
        <result column="CHECK_TIME" property="checkTime"/>
        <result column="CHECK_INFO" property="checkInfo"/>
        <result column="FILLER1" property="filler1"/>
        <result column="FILLER2" property="filler2"/>
        <result column="FILLER3" property="filler3"/>
        <result column="SHADINESS_REP_NAME" property="shadinessRepName"/>
        <result column="SHADINESS_REP_IC_TYPE" property="shadinessRepIcType"/>
        <result column="SHADINESS_REP_IC_TYPE_MEMO" property="shadinessRepIcTypeMemo"/>
        <result column="SHADINESS_REP_IC_NO" property="shadinessRepIcNo"/>
        <result column="SHADINESS_SRD_NAME" property="shadinessSrdName"/>
        <result column="SHADINESS_SRD_IC_TYPE" property="shadinessSrdIcType"/>
        <result column="SHADINESS_SRD_IC_TYPE_MEMO" property="shadinessSrdIcTypeMemo"/>
        <result column="SHADINESS_SRD_IC_NO" property="shadinessSrdIcNo"/>
        <result column="RPT_COUNT" property="rptCount"/>
        <result column="SHADINESS_TRPT_POINT" property="shadinessTrptPoint"/>
        <result column="TRAN_CUST_BEHAVIOR" property="tranCustBehavior"/>
        <result column="DOUBT_ANALYSIS" property="doubtAnalysis"/>
        <result column="SHADINESS_CRIME_TYPE" property="shadinessCrimeType"/>
        <result column="SHADINESS_TRAN_CODE" property="shadinessTranCode"/>
        <result column="RPT_DIR" property="rptDir"/>
        <result column="O_RPT_DIR" property="oRptDir"/>
        <result column="O_TRPT_POINT" property="oTrptPoint"/>
        <result column="MAN_CORRECT_FLAG" property="manCorrectFlag"/>
        <result column="RPT_DOT_CODE" property="rptDotCode"/>
        <result column="SERIAL_NUM_4" property="serialNum4"/>
        <result column="SHADINESS_TRPT_POINT_MEMO" property="shadinessTrptPointMemo"/>
        <result column="ORG_RPT_FILE" property="orgRptFile"/>
    </resultMap>

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <select id="selectByWorkDate" resultMap="aml">
        SELECT WORK_DATE
             , BATCH_NO
             , REF_NO
             , RULE_CODE
             , DEPART_ID
             , RULE_TYPE
             , UNIT_NAME
             , UNIT_CODE
             , RELATION_TYPE
             , REPORT_DATE
             , SHADINESS_LEVEL
             , SHADINESS_DESC
             , ACTION_MEASURE
             , ORIG_BATCH_NO
             , ORIG_WORK_DATE
             , ORIG_CLIENT_ID
             , ORIG_REF_NO
             , ORIG_TRADE_DATE
             , ORIG_RULE_CODE
             , REPORT_TYPE
             , IF_RPT
             , RPT_STATUS
             , FINAL_RPT_STATUS
             , RET_MSE
             , REPORTER
             , RPT_FILE
             , RPT_ZIP
             , TOTAL_COUNT1
             , TOTAL_COUNT2
             , SERIAL_NUM_1
             , SERIAL_NUM_2
             , SERIAL_NUM_3
             , IS_DEL
             , DEL_INFO
             , MAKE_STATUS
             , MAKER
             , MAKE_TIME
             , CHECK_STATUS
             , CHECKER
             , CHECK_TIME
             , CHECK_INFO
             , FILLER1
             , FILLER2
             , FILLER3
             , SHADINESS_REP_NAME
             , SHADINESS_REP_IC_TYPE
             , SHADINESS_REP_IC_TYPE_MEMO
             , SHADINESS_REP_IC_NO
             , SHADINESS_SRD_NAME
             , SHADINESS_SRD_IC_TYPE
             , SHADINESS_SRD_IC_TYPE_MEMO
             , SHADINESS_SRD_IC_NO
             , RPT_COUNT
             , SHADINESS_TRPT_POINT
             , TRAN_CUST_BEHAVIOR
             , DOUBT_ANALYSIS
             , SHADINESS_CRIME_TYPE
             , SHADINESS_TRAN_CODE
             , RPT_DIR
             , O_RPT_DIR
             , O_TRPT_POINT
             , MAN_CORRECT_FLAG
             , RPT_DOT_CODE
             , SERIAL_NUM_4
             , SHADINESS_TRPT_POINT_MEMO
             , ORG_RPT_FILE
        FROM AML_ANALYSISRESULT
        WHERE 1 = 1
          AND WORK_DATE = #{WORKDATE}

    </select>

    <resultMap id="DTA" type="com.yimnlu.AML.entity.AmlDTA">
        <result column="WORK_DATE" property="workDate"/>
        <result column="REF_NO" property="refNo"/>
        <result column="ORIG_REF_NO" property="origRefNo"/>
        <result column="DEPART_ID" property="departId"/>
        <result column="SEQ_NO" property="seqNo"/>
        <result column="DEPART_NAME" property="departName"/>
        <result column="DEPART_TYPE" property="departType"/>
        <result column="DEPART_AREACODE" property="departAreacode"/>
        <result column="CLIENT_ID" property="clientId"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="RULE_TYPE" property="ruleType"/>
        <result column="UNIT_NAME" property="unitName"/>
        <result column="UNIT_CODE" property="unitCode"/>
        <result column="RELATION_TYPE" property="relationType"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <result column="SHADINESS_LEVEL" property="shadinessLevel"/>
        <result column="SHADINESS_DESC" property="shadinessDesc"/>
        <result column="ACTION_MEASURE" property="actionMeasure"/>
        <result column="ORIG_BATCH_NO" property="origBatchNo"/>
        <result column="ORIG_WORK_DATE" property="origWorkDate"/>
        <result column="ORIG_CLIENT_ID" property="origClientId"/>
        <result column="ORIG_TRADE_DATE" property="origTradeDate"/>
        <result column="ORIG_RULE_CODE" property="origRuleCode"/>
        <result column="PCODE" property="pcode"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="CLIENT_TYPE" property="clientType"/>
        <result column="CLIENT_IC_TYPE" property="clientIcType"/>
        <result column="CLIENT_IC_TYPE_MEMO" property="clientIcTypeMemo"/>
        <result column="CLIENT_IC_NO" property="clientIcNo"/>
        <result column="CLIENT_NATIONALITY" property="clientNationality"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="OTHER_CONTACT" property="otherContact"/>
        <result column="INDUSTRY_TYPE" property="industryType"/>
        <result column="REGISTERED_CAPITAL" property="registeredCapital"/>
        <result column="REP_NAME" property="repName"/>
        <result column="REP_IC_TYPE" property="repIcType"/>
        <result column="REP_IC_TYPE_MEMO" property="repIcTypeMemo"/>
        <result column="REP_IC_NO" property="repIcNo"/>
        <result column="AGENT_NAME" property="agentName"/>
        <result column="AGENT_IC_NO" property="agentIcNo"/>
        <result column="AGENT_IC_TYPE" property="agentIcType"/>
        <result column="AGENT_IC_TYPE_MEMO" property="agentIcTypeMemo"/>
        <result column="AGENT_NATIONALITY" property="agentNationality"/>
        <result column="ACCT_ID" property="acctId"/>
        <result column="ACCT_TYPE" property="acctType"/>
        <result column="ACCT_OPEN_TIME" property="acctOpenTime"/>
        <result column="ACCT_CLOSE_TIME" property="acctCloseTime"/>
        <result column="PBOC_NUM_ACCT" property="pbocNumAcct"/>
        <result column="TRADE_DATE" property="tradeDate"/>
        <result column="TRADE_TIME" property="tradeTime"/>
        <result column="VALUE_DATE" property="valueDate"/>
        <result column="TRADE_VENUE_COUNTRY" property="tradeVenueCountry"/>
        <result column="TRADE_VENUE_REGION" property="tradeVenueRegion"/>
        <result column="TRADE_MODE" property="tradeMode"/>
        <result column="DEBIT_CREDIT" property="debitCredit"/>
        <result column="TRADE_COUNTRY" property="tradeCountry"/>
        <result column="TRADE_REGION" property="tradeRegion"/>
        <result column="TRADE_CODE" property="tradeCode"/>
        <result column="FUND_USAGE" property="fundUsage"/>
        <result column="CURRENCY" property="currency"/>
        <result column="AMT" property="amt"/>
        <result column="DOLLAR_AMT" property="dollarAmt"/>
        <result column="CTPY_FI_CODE" property="ctpyFiCode"/>
        <result column="CTPY_FI_PCODE" property="ctpyFiPcode"/>
        <result column="CTPY_FI_NAME" property="ctpyFiName"/>
        <result column="CTPY_FI_TYPE" property="ctpyFiType"/>
        <result column="CTPY_FI_COUNTRY" property="ctpyFiCountry"/>
        <result column="CTPY_FI_REGION_CODE" property="ctpyFiRegionCode"/>
        <result column="CTPY_NAME" property="ctpyName"/>
        <result column="CTPY_TYPE" property="ctpyType"/>
        <result column="CTPY_NATIONALITY" property="ctpyNationality"/>
        <result column="CTPY_IC_CODE" property="ctpyIcCode"/>
        <result column="CTPY_IC_TYPE" property="ctpyIcType"/>
        <result column="CTPY_IC_TYPE_MEMO" property="ctpyIcTypeMemo"/>
        <result column="CTPY_ACCT_ID" property="ctpyAcctId"/>
        <result column="CTPY_ACCT_TYPE" property="ctpyAcctType"/>
        <result column="TRADE_TYPE" property="tradeType"/>
        <result column="REPAYMENT_DATE" property="repaymentDate"/>
        <result column="LOAN_REPAYMENT_TYPE" property="loanRepaymentType"/>
        <result column="PRECEDING_TRADE_REFERENCE" property="precedingTradeReference"/>
        <result column="SUCCESSDING_TRADE_REFERENCE" property="successdingTradeReference"/>
        <result column="CNY_AMT" property="cnyAmt"/>
        <result column="CARD_TYPE" property="cardType"/>
        <result column="CARD_TYPE_MEMO" property="cardTypeMemo"/>
        <result column="CARD_NO" property="cardNo"/>
        <result column="REPAY_NO_TYPE" property="repayNoType"/>
        <result column="REPAY_NO" property="repayNo"/>
        <result column="NO_COUNTER_TYPE" property="noCounterType"/>
        <result column="NO_COUNTER_NO" property="noCounterNo"/>
        <result column="BANK_PAYINS_CODE" property="bankPayinsCode"/>
    </resultMap>

    <select id="visualByRuleBw8_12" resultMap="DTA">
        select distinct aml_datasource.WORK_DATE , aml_datasource.REF_NO , aml_datasource.ORIG_REF_NO , aml_datasource.DEPART_ID
        , SEQ_NO, DEPART_NAME, DEPART_TYPE, DEPART_AREACODE, CLIENT_ID, RULE_CODE, RULE_TYPE, UNIT_NAME, UNIT_CODE
        , RELATION_TYPE, REPORT_DATE, SHADINESS_LEVEL, SHADINESS_DESC, ACTION_MEASURE, ORIG_BATCH_NO, ORIG_WORK_DATE
        , ORIG_CLIENT_ID, ORIG_TRADE_DATE, ORIG_RULE_CODE, PCODE, CLIENT_NAME, CLIENT_TYPE, CLIENT_IC_TYPE,
        CLIENT_IC_TYPE_MEMO
        , CLIENT_IC_NO, CLIENT_NATIONALITY, PHONE, ADDRESS, OTHER_CONTACT, INDUSTRY_TYPE, REGISTERED_CAPITAL, REP_NAME
        , REP_IC_TYPE, REP_IC_TYPE_MEMO, REP_IC_NO, AGENT_NAME, AGENT_IC_NO, AGENT_IC_TYPE, AGENT_IC_TYPE_MEMO,
        AGENT_NATIONALITY
        , ACCT_ID, ACCT_TYPE, ACCT_OPEN_TIME, ACCT_CLOSE_TIME, PBOC_NUM_ACCT, TRADE_DATE, TRADE_TIME, VALUE_DATE,
        TRADE_VENUE_COUNTRY
        , TRADE_VENUE_REGION, TRADE_MODE, DEBIT_CREDIT, TRADE_COUNTRY, TRADE_REGION, TRADE_CODE, FUND_USAGE, CURRENCY,
        AMT, DOLLAR_AMT
        , CTPY_FI_CODE, CTPY_FI_PCODE, CTPY_FI_NAME, CTPY_FI_TYPE, CTPY_FI_COUNTRY, CTPY_FI_REGION_CODE, CTPY_NAME,
        CTPY_TYPE, CTPY_NATIONALITY
        , CTPY_IC_CODE, CTPY_IC_TYPE, CTPY_IC_TYPE_MEMO, CTPY_ACCT_ID, CTPY_ACCT_TYPE, TRADE_TYPE, REPAYMENT_DATE,
        LOAN_REPAYMENT_TYPE
        , PRECEDING_TRADE_REFERENCE, SUCCESSDING_TRADE_REFERENCE, CNY_AMT, CARD_TYPE, CARD_TYPE_MEMO, CARD_NO,
        REPAY_NO_TYPE, REPAY_NO
        , NO_COUNTER_TYPE, NO_COUNTER_NO, BANK_PAYINS_CODE
        from aml_datasource
        inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
        <if test='rule != "" and rule != null'>
            and AML_ANALYSISRESULT.RULE_CODE = #{rule}
        </if>
        where AML_DATASOURCE.WORK_DATE like '201908%'
           or AML_DATASOURCE.WORK_DATE like '201909%'
           or AML_DATASOURCE.WORK_DATE like '201910%'
           or AML_DATASOURCE.WORK_DATE like '201911%'
           or AML_DATASOURCE.WORK_DATE like '201912%'
        order by aml_datasource.WORK_DATE DESC
    </select>
    <select id="visualByRule" resultMap="DTA">
        select distinct aml_datasource.WORK_DATE , aml_datasource.REF_NO , aml_datasource.ORIG_REF_NO , aml_datasource.DEPART_ID
        , SEQ_NO, DEPART_NAME, DEPART_TYPE, DEPART_AREACODE, CLIENT_ID, RULE_CODE, RULE_TYPE, UNIT_NAME, UNIT_CODE
        , RELATION_TYPE, REPORT_DATE, SHADINESS_LEVEL, SHADINESS_DESC, ACTION_MEASURE, ORIG_BATCH_NO, ORIG_WORK_DATE
        , ORIG_CLIENT_ID, ORIG_TRADE_DATE, ORIG_RULE_CODE, PCODE, CLIENT_NAME, CLIENT_TYPE, CLIENT_IC_TYPE,
        CLIENT_IC_TYPE_MEMO
        , CLIENT_IC_NO, CLIENT_NATIONALITY, PHONE, ADDRESS, OTHER_CONTACT, INDUSTRY_TYPE, REGISTERED_CAPITAL, REP_NAME
        , REP_IC_TYPE, REP_IC_TYPE_MEMO, REP_IC_NO, AGENT_NAME, AGENT_IC_NO, AGENT_IC_TYPE, AGENT_IC_TYPE_MEMO,
        AGENT_NATIONALITY
        , ACCT_ID, ACCT_TYPE, ACCT_OPEN_TIME, ACCT_CLOSE_TIME, PBOC_NUM_ACCT, TRADE_DATE, TRADE_TIME, VALUE_DATE,
        TRADE_VENUE_COUNTRY
        , TRADE_VENUE_REGION, TRADE_MODE, DEBIT_CREDIT, TRADE_COUNTRY, TRADE_REGION, TRADE_CODE, FUND_USAGE, CURRENCY,
        AMT, DOLLAR_AMT
        , CTPY_FI_CODE, CTPY_FI_PCODE, CTPY_FI_NAME, CTPY_FI_TYPE, CTPY_FI_COUNTRY, CTPY_FI_REGION_CODE, CTPY_NAME,
        CTPY_TYPE, CTPY_NATIONALITY
        , CTPY_IC_CODE, CTPY_IC_TYPE, CTPY_IC_TYPE_MEMO, CTPY_ACCT_ID, CTPY_ACCT_TYPE, TRADE_TYPE, REPAYMENT_DATE,
        LOAN_REPAYMENT_TYPE
        , PRECEDING_TRADE_REFERENCE, SUCCESSDING_TRADE_REFERENCE, CNY_AMT, CARD_TYPE, CARD_TYPE_MEMO, CARD_NO,
        REPAY_NO_TYPE, REPAY_NO
        , NO_COUNTER_TYPE, NO_COUNTER_NO, BANK_PAYINS_CODE
        from aml_datasource
        inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
        <if test='rule != "" and rule != null'>
            and AML_ANALYSISRESULT.RULE_CODE = #{rule}
        </if>
        order by aml_datasource.WORK_DATE DESC
    </select>
    <select id="visualAmount" resultMap="DTA">
        select distinct aml_datasource.WORK_DATE , aml_datasource.REF_NO , aml_datasource.ORIG_REF_NO , aml_datasource.DEPART_ID
        , SEQ_NO, DEPART_NAME, DEPART_TYPE, DEPART_AREACODE, CLIENT_ID, RULE_CODE, RULE_TYPE, UNIT_NAME, UNIT_CODE
        , RELATION_TYPE, REPORT_DATE, SHADINESS_LEVEL, SHADINESS_DESC, ACTION_MEASURE, ORIG_BATCH_NO, ORIG_WORK_DATE
        , ORIG_CLIENT_ID, ORIG_TRADE_DATE, ORIG_RULE_CODE, PCODE, CLIENT_NAME, CLIENT_TYPE, CLIENT_IC_TYPE,
        CLIENT_IC_TYPE_MEMO
        , CLIENT_IC_NO, CLIENT_NATIONALITY, PHONE, ADDRESS, OTHER_CONTACT, INDUSTRY_TYPE, REGISTERED_CAPITAL, REP_NAME
        , REP_IC_TYPE, REP_IC_TYPE_MEMO, REP_IC_NO, AGENT_NAME, AGENT_IC_NO, AGENT_IC_TYPE, AGENT_IC_TYPE_MEMO,
        AGENT_NATIONALITY
        , ACCT_ID, ACCT_TYPE, ACCT_OPEN_TIME, ACCT_CLOSE_TIME, PBOC_NUM_ACCT, TRADE_DATE, TRADE_TIME, VALUE_DATE,
        TRADE_VENUE_COUNTRY
        , TRADE_VENUE_REGION, TRADE_MODE, DEBIT_CREDIT, TRADE_COUNTRY, TRADE_REGION, TRADE_CODE, FUND_USAGE, CURRENCY,
        AMT, DOLLAR_AMT
        , CTPY_FI_CODE, CTPY_FI_PCODE, CTPY_FI_NAME, CTPY_FI_TYPE, CTPY_FI_COUNTRY, CTPY_FI_REGION_CODE, CTPY_NAME,
        CTPY_TYPE, CTPY_NATIONALITY
        , CTPY_IC_CODE, CTPY_IC_TYPE, CTPY_IC_TYPE_MEMO, CTPY_ACCT_ID, CTPY_ACCT_TYPE, TRADE_TYPE, REPAYMENT_DATE,
        LOAN_REPAYMENT_TYPE
        , PRECEDING_TRADE_REFERENCE, SUCCESSDING_TRADE_REFERENCE, CNY_AMT, CARD_TYPE, CARD_TYPE_MEMO, CARD_NO,
        REPAY_NO_TYPE, REPAY_NO
        , NO_COUNTER_TYPE, NO_COUNTER_NO, BANK_PAYINS_CODE
        from aml_datasource
        inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
        <if test='WORK_DATE != "" and WORK_DATE != null'>
            and AML_ANALYSISRESULT.WORK_DATE = #{WORK_DATE}
        </if>
        order by aml_datasource.WORK_DATE DESC
    </select>
    <select id="visualAmountYear" resultMap="DTA">
        select distinct aml_datasource.WORK_DATE , aml_datasource.REF_NO , aml_datasource.ORIG_REF_NO , aml_datasource.DEPART_ID
        , SEQ_NO, DEPART_NAME, DEPART_TYPE, DEPART_AREACODE, CLIENT_ID, RULE_CODE, RULE_TYPE, UNIT_NAME, UNIT_CODE
        , RELATION_TYPE, REPORT_DATE, SHADINESS_LEVEL, SHADINESS_DESC, ACTION_MEASURE, ORIG_BATCH_NO, ORIG_WORK_DATE
        , ORIG_CLIENT_ID, ORIG_TRADE_DATE, ORIG_RULE_CODE, PCODE, CLIENT_NAME, CLIENT_TYPE, CLIENT_IC_TYPE,
        CLIENT_IC_TYPE_MEMO
        , CLIENT_IC_NO, CLIENT_NATIONALITY, PHONE, ADDRESS, OTHER_CONTACT, INDUSTRY_TYPE, REGISTERED_CAPITAL, REP_NAME
        , REP_IC_TYPE, REP_IC_TYPE_MEMO, REP_IC_NO, AGENT_NAME, AGENT_IC_NO, AGENT_IC_TYPE, AGENT_IC_TYPE_MEMO,
        AGENT_NATIONALITY
        , ACCT_ID, ACCT_TYPE, ACCT_OPEN_TIME, ACCT_CLOSE_TIME, PBOC_NUM_ACCT, TRADE_DATE, TRADE_TIME, VALUE_DATE,
        TRADE_VENUE_COUNTRY
        , TRADE_VENUE_REGION, TRADE_MODE, DEBIT_CREDIT, TRADE_COUNTRY, TRADE_REGION, TRADE_CODE, FUND_USAGE, CURRENCY,
        AMT, DOLLAR_AMT
        , CTPY_FI_CODE, CTPY_FI_PCODE, CTPY_FI_NAME, CTPY_FI_TYPE, CTPY_FI_COUNTRY, CTPY_FI_REGION_CODE, CTPY_NAME,
        CTPY_TYPE, CTPY_NATIONALITY
        , CTPY_IC_CODE, CTPY_IC_TYPE, CTPY_IC_TYPE_MEMO, CTPY_ACCT_ID, CTPY_ACCT_TYPE, TRADE_TYPE, REPAYMENT_DATE,
        LOAN_REPAYMENT_TYPE
        , PRECEDING_TRADE_REFERENCE, SUCCESSDING_TRADE_REFERENCE, CNY_AMT, CARD_TYPE, CARD_TYPE_MEMO, CARD_NO,
        REPAY_NO_TYPE, REPAY_NO
        , NO_COUNTER_TYPE, NO_COUNTER_NO, BANK_PAYINS_CODE
        from aml_datasource
        inner join aml_analysisresult on aml_analysisresult.ref_no = aml_datasource.ref_no
        <if test='WORK_DATE != "" and WORK_DATE != null'>
            and AML_ANALYSISRESULT.WORK_DATE like #{WORK_DATE} + '%'
        </if>
        order by aml_datasource.WORK_DATE DESC
    </select>
</mapper>
