<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML.dao.suspectTransMakeupMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <resultMap id="ERR_CODE_SET" type="com.yimnlu.AML.dto.ERR_CODE_SET">
        <result column="ERR_CODE" property="ERR_CODE"/>
        <result column="ERR_MSG" property="ERR_MSG"/>
    </resultMap>

    <select id="rule_R0001" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0001 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0002" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0002 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0003" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0003 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0004" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0004 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0005" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0005 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0006" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0006 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0007" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0007 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0008" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0008 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>

    <select id="rule_R0009" resultMap="ERR_CODE_SET">
        DECLARE @ERR_CODE NUMERIC,@ERR_MSG  VARCHAR(200)
        EXEC SP_AFTERIMPORT_R0009 #{DEPARTID}, #{WORKDATE}, @ERR_CODE, @ERR_MSG
        SELECT @ERR_CODE,@ERR_MSG
    </select>
</mapper>
