<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML.dao.TbAnalysisrulesMapper">

    <!-- 开启二级缓存 -->
    <!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yimnlu.AML.entity.TbAnalysisrules">
        <id column="DEPART_ID" property="departId"/>
        <result column="RULE_CODE" property="ruleCode"/>
        <result column="RULE_TYPE" property="ruleType"/>
        <result column="RULE_NOTES" property="ruleNotes"/>
        <result column="RULE_ANALYSE_METHOD" property="ruleAnalyseMethod"/>
        <result column="RULE_INDEX" property="ruleIndex"/>
        <result column="FILLER1" property="filler1"/>
        <result column="FILLER3" property="filler3"/>
        <result column="FILLER2" property="filler2"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEPART_ID, RULE_CODE, RULE_TYPE, RULE_NOTES, RULE_ANALYSE_METHOD, RULE_INDEX, FILLER1, FILLER3, FILLER2
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from TB_ANALYSISRULES WHERE 1=1 AND DEPART_ID = #{DEPART_ID} ORDER BY RULE_CODE
    </select>

</mapper>
