<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimnlu.AML_Platform.dao.BaseMapMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yimnlu.AML_Platform.entity.BaseMap">
        <id column="Id" property="Id" />
        <result column="DEPART_ID" property="departId" />
        <result column="EN_NAME" property="enName" />
        <result column="CN_NAME" property="cnName" />
        <result column="LOCATION" property="location" />
        <result column="LATITUDE" property="latitude" />
        <result column="LONGITUDE" property="longitude" />
        <result column="ACCT_ID" property="acctId" />
        <result column="CLIENT_ID" property="clientId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id AS Id, DEPART_ID, EN_NAME, CN_NAME, LOCATION, LATITUDE, LONGITUDE, ACCT_ID, CLIENT_ID
    </sql>

    <select id="_F_BASEMAP_LOCATION_" resultMap="BaseResultMap">
            SELECT DISTINCT *
            FROM BASE_MAP
            WHERE DEPART_ID = #{DEPARTID}
    </select>

</mapper>
